.sign-in{
    width: 50em;
    display: flex;
    flex-direction: column;

    .title{
        font-size: 3em;
    }
    
    .detail-title{
        font-size: 1.8em;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
}