.custom-button {
    color: white;
    background-color: black;
    min-width: 12em;
    width: auto;
    text-transform: uppercase;
    height: 4em;
    font-size: 1.4em;
    padding: 0 3em;
    letter-spacing: 0.05em;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: white;
        color: black;
        border: 0.1em solid black;
        transition: ease-in-out 0.3s;
    }

    &.google-sign-in {
        background-color: #4285f4;
        color: #fff;

        &:hover {
            background-color: #357ae8;
            border: none;
        }
    }

    &.inverted {
        background-color: white;
        color: black;
        border: 0.1em solid black;

        &:hover {
            color: white;
            background-color: black;
            border: none;
        }
    }
}
